<div>
  <h3>Wallet: <%= number_to_currency(current_seller.wallet) %></h3>
  <% @sales.each do |sale| %>
    <p>Title: <%= sale.book_title %></p>
    <p>Price: <%= number_to_currency(sale.book_price) %></p>
    <p>Profit: <%= number_to_currency(sale.profit) %></p>
  <% end %>
</div>