<footer class="bg-dark">
  <div class="container p-3">
    <span class="text-light">This page was built by <a href="https://www.linkedin.com/in/jose-roberto-perez-jimenez/" class="text-light">Roberto Pérez</a></span>
  </div>
</footer>